.pokazWnioski{
  position: relative;
}
.pokazWnioski .dodajWniosek{
  position: absolute;
  top: 2rem;
  right: 8rem;
  padding: .6rem;
  background-color: rgba(177, 52, 108, 0.412);
  border: 2px solid rgba(184, 96, 136, 0.412);
  border-radius: 25px;
  color: #eee;
  cursor: pointer;
}
.pokazWnioski .dodajWniosek:hover{
  color:rgba(177, 52, 108, 0.412);
  background-color: #eee;
}
.pokazWnioski .zaakceptowane {
  float: right;
  text-align: right;
  width: 10%;
}
.tytul-wniosek-grid {
  width: 80%;
  margin: 0 auto;
  line-height: 2rem;
  text-align: center;
  padding: 1.5rem;
  background-color: rgba(0,0,0,.3);
  display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "typ poczatek koniec komentarz status";
    grid-gap: 10px;
    padding: 10px;
}
.wniosek-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas: "typ poczatek koniec komentarz status";
  grid-gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
/* .wniosek-grid .name {
  grid-area: typ;
}

.wniosek-grid .beginningDate {
  grid-area: poczatek;
}
.wniosek-grid .endingDate {
  grid-area: koniec;
}

.wniosek-grid .comment {
  grid-area: komentarz;
}

.wniosek-grid .status {
  grid-area: status;
} */
