.AddEventContainer {
  display: flex;
  flex-direction: row;
}

.Formularz {
  flex: 1;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #d3c5db;
  padding: 20px;
  width: 20%;
  height: 20%;
  margin-top: 10px;
}
.NowaZmiana {
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
  background-color: #eb95c0;
  color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  cursor: pointer;
  line-height: 14px;
}
.NowaZmiana:hover {
  background: rgba(248, 248, 248, 0.685);
  color: #eb95c0;
}

.WybierzUzytkownika {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.Dzien {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}
.PoczatekZmiany {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}
.KoniecZmiany {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  margin-top: 10px;
}
.DodajZmiane {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 14px;
  background-color: #eb95c0;
  color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  cursor: pointer;
  line-height: 14px;
}
.DodajZmiane:hover {
  background: rgba(248, 248, 248, 0.281);
  color: #eb95c0;
}
.Anuluj {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 14px;
  background-color: #eb95c0;
  color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  cursor: pointer;
  line-height: 14px;
}
.Anuluj:hover {
  background: rgba(248, 248, 248, 0.685);
  color: #eb95c0;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="time"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.EdytujZmiane {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #d3c5db;
  padding: 20px;
  margin-top: 10px;
}

.ZaktualizujZmiane {
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 100%;
  text-align: center;
  font-size: 14px;
  background-color: #eb95c0;
  color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  cursor: pointer;
  line-height: 14px;
}
.ZaktualizujZmiane:hover {
  background: rgba(248, 248, 248, 0.685);
  color: #eb95c0;
}
.UsunZmiane {
  width: 100%;
  margin-top: 0.5rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  font-size: 14px;
  background-color: #eb95c0;
  color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  cursor: pointer;
  line-height: 14px;
}
.UsunZmiane:hover {
  background: rgba(248, 248, 248, 0.685);
  color: #eb95c0;
}
.AnulujEdit {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 14px;
  background-color: #eb95c0;
  color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  cursor: pointer;
  line-height: 14px;
}
.AnulujEdit:hover {
  background: rgba(248, 248, 248, 0.685);
  color: #eb95c0;
}
/*CSS dla tabeli*/
.dyspoKomunikat {
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-align: center;
  font-size: 14px;
  background-color: #eb95c0;
  color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 15px;
  margin-right: 10px;
}
.UserAvailabilityTable {
  flex: 1.6;
  flex-direction: row;
  max-height: 480px;
  overflow-y: auto;
  margin-right: 10px;
}
.EditUserAvailabilityTable {
  flex-direction: row;
  max-height: 480px;
  overflow-y: auto;
  margin-left: 30px;
  min-width: 250%;
}
.tabela {
  text-align: center;
  border-radius: 5px;
  background-color: #d3c5db;
  padding: 20px;
  margin-top: 10px;
  min-width: 100%;
}

.tabela td,
.tabela th {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.tabela tr:nth-child(even) {
  border-radius: 5px;
  background-color: #d3c5db;
  text-align: center;
}

.tabela th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #eb95c0;
  color: white;
  border-radius: 5px;
}
.searchInput {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
