.PrzyciskDodaj{
    display: flex;
    padding: 1rem;
  margin: 10 auto;
  margin-right: 33px;
  padding-right: "200px";
    float: right;
    font-size: 15px;
    border: 2px solid azure;
    border-radius: 30px;
    background-color:transparent;
    color:azure;
    cursor: pointer;
  }
  .tytul
  {
 
    padding: 5rem 2rem 0 5rem;
    color: #eee;}

    .Dodaj{display: flex;
      justify-content: center;
      color:azure;
      border: 2px solid azure;
      border-radius: 30px;
      background-color:transparent;
      width: 150px;
      height: 25px;
  margin-left: 450px;
  margin-top: -75px;
    }
    
    .tytulform{
      display:flex;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: -40px;
      color: #eee;}
     

.formularz{
 display: grid;
  background-color: rgba(255,255,255, .5);
  width: 400px;
  height: 500px;
  margin: 5rem auto;
  border-radius: 15px;
  
}

.label{display: block;
  width: 100px;

 
  margin-left: 150px;
  color:white;
}
.pole{
 
  color:black;
  font-size: 15px ;
  font-weight: bold;
  background-color: rgba(249, 248, 248, 0.781);
  border:white;
  border-radius: 30px;
  width: 150px;
  height: 30px;
  
 
  margin-left: 120px;
}
