body {
  background-image: url(../img/pexels-codioful-7130536.jpg);
}
.logoName {
  display: block;
  width: 100%;
  padding: 2rem 2rem 0 2rem;
}

.logowanie {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  width: 35vw;
  min-height: 40vh;
  margin: 5rem auto;
  border-radius: 15px;
}
.logowanie form {
  margin-top: 3rem;
  padding: 1.5rem;
  text-align: center;
}
.login,
.haslo {
  display: flex;
  padding: 1rem 1.5rem 1rem 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
  min-width: 40%;
  margin-left: 0.4rem;
  padding: 0.4rem;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 20px;
  color: rgb(193, 27, 135);
}
.buttonLogowanie {
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin-left: 140px;
  margin-top: 10px;
  font-size: 14px;
  background-color: #f164aa;
  color: #fff;
  border: 2px solid #f164aa;
  border-radius: 15px;
  cursor: pointer;
  line-height: 14px;
}

.buttonLogowanie:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #f164aa;
}
