.active {
  background-color: #fefefe;
  color: #333;
}

.title {
  display: block;
  min-width: 100%;
  margin: 0;
  
  padding: 0.5rem;
  background-color: #333;
  text-align: right;
  text-decoration: none;
}
.title h1 {
  color: #fefefe;
}

nav {
  background-color: #333;
  color: #eee;
  height: 100vh;
  width: 12rem;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  width: 100%;
  padding: 3.5rem 0 0 0;
}

nav ul li {
  margin: 0;
  line-height: 4rem;
  cursor: pointer;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #eee;
  padding: 0.3rem;
}

nav ul li a:not(.active):hover {
  background: #fefefe;
  color: #333;

}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #eee;
  border-radius: 0.2rem;
}

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }
}
